body{
    background-color: #333232;
}

#container{
    background-color:#002366;
    border: 5px solid aliceblue ;
    height: 275px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
#btn{
    margin:50px auto ;
    height: 50px;
    width:250px ;
    font-size:22px ;
    background-color: rgb(192,191,190);

}
#output{
    margin: 25px auto;
    font-size: 26px;
    color: white;

}